body,
html {
    height: 100%;
}

input[type='text'],
textarea {
    color: rgb(0, 0, 0);
}

.u-full-height {
    height: 100%;
}

.container {
    max-width: 100%;
}

.field {
    margin-top: -50px;
    padding-top: 50px;
}

.heading {
    height: 50px;
    border-bottom: 1px solid grey;
}

.heading button {
    float: right;
    margin: 5px;
}

.note-description {
    height: 200px;
}

.note {
    width: 200px;
    background-color: rgb(226, 226, 60);
    color: black;
    padding: 15px;
    display: inline-block;
    position: absolute;
    border: 1px solid black;
    min-height: 200px;
}

.note .delete-note {
    float: right;
    margin: 2px;
    cursor: pointer;
}

.note h5 {
    margin-bottom: 5px;
    cursor: move;
}

.note .note-body {
    height: calc(100% - 36px);
}

.note textarea {
    height: 100%;
    width: 100%;
    resize: none;
}
